<% layout('layouts/main') %>
<h1>Stories</h1>
<div class="row">
    <% if (stories.length) {%>
        <% stories.forEach((story) => {%>
            <% if(story.status == 'public') {%>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <% if (currentUser.id == story.user._id) {%>
                                <a href="/stories/edit/<%=story._id%>" class="btn-floating halfway-fab blue"><i class="fas fa-edit fa-small"></i></a>
                                <%}%>
                        </div>
                            <div class="card-content center-align">
                                <h5><%= story.title%></h5>
                                <p><%= stripTags(truncate(story.body, 150))%></p>
                                <br>
                                <div class="chip">
                                    <img src="<%=story.user.image %>" alt="user image">
                                    <a href="/stories/user/<%= story.user._id %>"><%= story.user.displayName %></a>
                                </div>
                            </div>
                            <div class="card-action center-align">
                                <a href="/stories/<%= story._id %>" class="btn gray"> Read More</a>
                            </div>
                        </div>
                    </div>
                <%} %>
        <%})%>
        <%} else {%>
            <p>No Stories to display</p>
            <%}%>
</div>

